@model IEnumerable<ErrorHandlerApp.Models.Bug>

@{
    ViewData["Title"] = "List of Bugs";
}

<h1 class="display-4 text-center">List of Bugs</h1>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Status</th>
            <th>Reporter</th>
            <th>Created At</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var bug in Model)
        {
            <tr>
                <td>@bug.Id</td>
                <td>@bug.Title</td>
                <td>@bug.Description</td>
                <td>@bug.Status</td>
                <td>@bug.Reporter</td>
                <td>@bug.CreatedAt.ToString("yyyy-MM-dd")</td>
            </tr>
        }
    </tbody>
</table>
